{% extends "shared/base.html" %}
{% block content %}

<div class="row mt-5">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-8 col-xs-12"> 
                        <h6>Permissions for Role: {{ role.name }}</h6>
                    </div>
                    <div class="col-4 text-right">
                        <a href="{% url 'rolesIndex' %}" class="btn btn-secondary">Back to Roles</a>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label ps-3">Assigned Permissions:</label>
                {% if permissions %}
                    <ul class="list-group">
                        {% for permission in permissions %}
                            <li class="list-group-item">{{ permission.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No permissions assigned</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
