.modal {
    background: rgba(0,0,0,0.5);
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


.datepicker.flatpickr-input {
  background-color: #fff;
  padding: 8px;
}